* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ebedef;
}

a {
  color: inherit;
  text-decoration: none;
}

/* OS Setting AutoColor */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */